@using _Models.EF;
@model PagedList.IPagedList<_Models.EF.MenuType>
@using PagedList.Mvc;
@{
    /**/
    ViewBag.Title = "Quản trị người dùng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}
@section jsFooter{

}
@{
    int nextpage = 1;
    <div class="card mb-3 form-content">
        <div class="card-header">
            <i class="fas fa-table"></i>
            Table Contact
        </div>
        <div class="card-body">
            @using (Html.BeginForm("Index", "MenuType", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-md-4 offset-8 input-group">

                        <input type="text" name="SearchFeedBack" value="@ViewBag.searchString" placeholder="Tìm kiếm MenuType" class="form-control" />

                        <button type="submit" id="btnSeach" class="btn ">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>

                </div>
            }
            <table class="table table-bordered table-striped table-hover" id="tableMenuType">
                <thead class="text-center">
                    <tr>
                        <th>Option</th>
                        <th>MenuTypeID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.IsFirstPage != true)
                    {
                        nextpage = Model.PageNumber - 1;
                    }
                    else
                    {
                        if (Model.PageCount <= 2)
                        {
                            nextpage = 1;
                        }
                        else
                        {
                            nextpage = 2;
                        }
                    }
                    @foreach (var item in Model)
                    {
                        <tr id="row_@item.MenuTypeID">
                            <td>
                                @Ajax.ActionLink("Remove","Remove",new
                           { menutypeID=item.MenuTypeID },new AjaxOptions()
                           {
                               Confirm="Bạn có chắc muốn xóa không",
                               HttpMethod="Delete",
                               OnComplete="$('#row_"+item.MenuTypeID+"').remove()",
                               OnSuccess="$(document).ready(function(){" +
                               "alert(\"Bạn đã xóa "+item.Name+"\");" +
                               "var rowcount=$('#tableMenuType tr').length;if(rowcount==1)" +
                               "location.replace(location.pathname+\"?page="+nextpage+"\")" +
                               "});"
                           })||
                                <a href="/Admin/MenuType/Edit/@item.MenuTypeID">Edit</a>
                            </td>
                            <td>@item.MenuTypeID</td>
                            <td>@item.Name</td>
                        </tr>
                    }
                </tbody>
            </table>
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page, searchString = ViewBag.searchString }))
        </div>
        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
    </div>
    if (TempData["msg"] != null)
    {
        @Html.Raw(TempData["msg"]);
    }
    <script type="text/javascript">
        $(document).ready(function () {

        })
    </script>
}
